<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}OM NOM NOM!{{else}}This burger is tasty.  You should try it.{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Burger has been thrown away!</button>
</li>
